@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grayy: #364153:
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-grayy: var(--grayy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para selects y options - Tema oscuro */
select {
  color-scheme: dark;
}

select option {
  background-color: #000000;
  color: #ffffff;
}

select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}